
#divSlide.uk-position-relative(uk-slideshow='autoplay: true; pause-on-hover: true; autoplay-interval: 2500')
  ul.uk-slideshow-items()
    each certificate in certificates
      li
        img(src=`${certificate.src}` alt=`${certificate.alt}`)
        a(href=`#modal-${certificate.id}`,  uk-toggle)
          span(uk-icon="expand")
          div.uk-flex-top(id=`modal-${certificate.id}`, uk-modal='')
            .uk-modal-dialog.uk-width-auto.uk-margin-auto-vertical
              button.uk-modal-close-outside(type='button' uk-close='')
              img(src=`${certificate.src}` alt=`${certificate.alt}`)
  a.uk-position-center-left.uk-position-small.uk-hidden-hover.uk-background-secondary(href='#' uk-slidenav-previous='' uk-slideshow-item='previous')
  a.uk-position-center-right.uk-position-small.uk-hidden-hover.uk-background-secondary(href='#' uk-slidenav-next='' uk-slideshow-item='next')